.employeeContainer {
  width: 100%;
  height: 100%;
}
.empTop {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    textarea {
      padding: 1rem;
      width: 100%;
      height: 70%;
      outline: none;
      resize: none;
      border: 1px solid #ed5353;
    }
    button {
      padding: 0.7rem;
      margin-bottom: 5px;
    }
  }
}
.empBot {
  width: 100%;
  height: 60%;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  .leaveBox {
    margin-top: 1rem;
    width: 200px;
    height: 300px;
    background-color: white;
    border: 5px solid #ed5353;

    .leaveBoxTop {
      padding: 0.5rem;
      width: 100%;
      height: 85%;
      text-wrap: wrap;
    }
    .leaveBoxBot {
      width: 100%;
      height: 15%;
      background-color: #ed5353;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }
}

@media (max-width: 450px) {
  .empBot {
    justify-content: center;
    .leaveBox {
      width: 80%;
    }
  }
}
